.menu-title{
  padding-left: 18px;
  font-weight: 700 !important;
}

.menu-title-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container{
  padding: 4px 8px;
  position: fixed;
  top:0;
  background-color: #fafafa;
}

.navbar-left{
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar-right{
  display: flex;
  justify-content: right;
  align-items: center;
}

.main-planification-container{
  width: 100%;
  height: 100%;
}

#root-container{
  height: 100vh;
}

.list-container{
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
}

#main-table{
  cursor: default;
  user-select: none;
}

.dropdown-table{
  cursor: default;
  user-select: none;
}