.menu-title{
  padding-left: 18px;
  font-weight: 700 !important;
}

.menu-title-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container{
  padding: 4px 8px;
}

.navbar-left{
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar-right{
  display: flex;
  justify-content: right;
  align-items: center;
}